<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Friendship Calculator</title>
    <link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">

    <form action="" method="post" role="form">
        {{ form.csrf }}

        <div class="form-group">
            <label for="friend">Your Name:</label>
            <input type="text" class="form-control" id="friend" name="friend" placeholder="What's your name?">
        </div>

        <div class="form-group">
            <label for="friend1">Your Name:</label>
            <input type="text" class="form-control" id="friend1" name="friend1" placeholder="What's your friends name?">
        </div>

        <!-- <div class="input text">
             {{ form.friend.label }} {{ form.friend }}
         </div>

         <div class="input text">
             {{ form.friend1.label }} {{ form.friend1 }}
         </div>
 -->
        <div class="input submit">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
    <br>
    <br>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info">
                <strong>Friendship percentage : </strong> {{ message[1] }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>
</body>
</html>
